<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <title>Моя библиотека</title>
  </head>
  <body>
    <nav aria-label="Page navigation example" class="mt-5">
      <ul class="pagination justify-content-center">
        {% if current_page == 1 %}
          <li class="page-item disabled">
            <span class="page-link">Назад</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="../pages/index{{ current_page - 1 }}.html">Назад</a>
          </li>
        {% endif %}
         {% for page in range(1, pages + 1) %}
          {% if page == current_page %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ page }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="../pages/index{{ page }}.html">{{ page }}</a>
            </li>
          {% endif %}
         {% endfor %}
         {% if current_page == pages %}
          <li class="page-item disabled">
            <span class="page-link">Вперёд</span>
          </li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="../pages/index{{ current_page + 1 }}.html">Вперёд</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="container">
      {% for two_books in books %}
        <div class="row">
          {% for book in two_books %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../media/{{ book.img_scr | urlencode }}" class="card-img" alt="{{ book.title }}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title }}</h5>
                      <p class="card-text">Автор: {{ book.author }}</p>
                      <p class="card-text">
                        {% for genre in book.genres %}
                          <span class="badge badge-secondary">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <a class="card-text" target="_blank" href="../media/{{ book.book_path | urlencode }}">
                        Читать
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>

  </body>
</html>